#reviewActions {
  background-color: var(--bs-gray-200);
}

#parent-object {
  opacity: 0.65;
}

.review-message .statement-title {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.56;
}

.review-message .title-divider,
.review-message .border-bottom {
  display: none;
}

/* hide everything except the verdict from statement side cards */
aside .card-title,
aside .card-date,
aside img {
  display: none;
}

.review-message .card-body {
  margin-top: 8px;
}

.callout {
  padding: 20px 40px;
  margin: 20px 0;
  border: 1px solid var(--bs-gray-200);
  border-left-width: 5px;
  border-radius: 3px;
}
