#parent-object {
  opacity: 0.65;
}

.review-message .statement-title {
  font-size: 1.5rem;
  font-weight: normal;
}

.review-message .title-divider,
.review-message .border-bottom,
.review-message .card-title,
.review-message .card-date,
.review-message .rounded-circle {
  display: none;
}

.review-message .answer {
  margin-left: 0;
  margin-right: 0;
  border: 1px solid #007bff;
  border-radius: .25rem;
}

.review-message .card-body {
  margin-top: 8px;
}

.callout {
  padding: 20px 40px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
