#parent-object {
  opacity: 0.65;
}

.review-message .statement-title {
  font-size: 1.5rem;
}

.review-message .title-divider {
  display: none;
}

.review-message .answer {
  margin-left: 2rem;
}

.callout {
  padding: 20px 40px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
