<?php

class Config {
  // Filesystem root of this installation. Include a trailing slash.
  const ROOT = __DIR__ . '/';

  // The concatenation URL_HOST + URL_PREFIX should yield the URL of the home
  // page of your installation.

  // protocol://host[:port] . No trailing slash.
  const URL_HOST = 'http://localhost';

  // URL path relative to URL_HOST. Include a trailing slash.
  const URL_PREFIX = '/dignitas/www/';

  // database connection
  const DB_HOST = 'localhost';
  const DB_DATABASE = 'dignitas';
  const DB_USER = 'root';
  const DB_PASSWORD = '';

  // development mode
  const DEVELOPMENT_MODE = true;

  // allow account creation
  const ALLOW_REGISTRATION = true;

  // Shared drive (common to all backends). Include a trailing slash.
  const SHARED_DRIVE = '/tmp/dignitas-shared/';

  // Allowed MIME type => canonical file extension
  // In particular, we accept .jpg and .jpeg uploads, but canonicalize both to .jpg.
  const MIME_TYPES = [
    'application/pdf' => 'pdf',
    'image/gif' => 'gif',
    'image/jpeg' => 'jpg',
    'image/png' => 'png',
    'image/svg+xml' => 'svg',
  ];

  // Extensions for generated thumbnails, when different from the original file.
  const THUMB_EXTENSIONS = [
    'pdf' => 'jpg',
  ];

  // thumbnail geometries
  const THUMB_USER_NAVBAR = '24x24';
  const THUMB_USER_PROFILE = '200';
  const THUMB_ENTITY_AUTOCOMPLETE = '20x20';
  const THUMB_ENTITY_SMALL = '40';
  const THUMB_ENTITY_LARGE = '200';
  const THUMB_INLINE_ATTACHMENT = '200'; // default geometry for inline attachments

  // Upload specifications.
  // Values in 'extensions' refer to the MIME types above.
  // Values in 'geometries' are passed to "convert -resize". Refer to [1] for geometry specs.
  // [1] https://www.imagemagick.org/script/command-line-processing.php#geometry
  const UPLOAD_SPECS = [
    // user profile images
    'User' => [
      'extensions' => [ 'gif', 'jpg', 'png', 'svg' ],
      'limit' => 16 << 20, // 16 MB,
      'geometries' => [
        self::THUMB_USER_NAVBAR,
        self::THUMB_USER_PROFILE,
      ],
    ],
    // entity profile images
    'Entity' => [
      'extensions' => [ 'gif', 'jpg', 'png', 'svg' ],
      'limit' => 16 << 20, // 16 MB,
      'geometries' => [
        self::THUMB_ENTITY_AUTOCOMPLETE,
        self::THUMB_ENTITY_SMALL,
        self::THUMB_ENTITY_LARGE,
      ],
    ],
    // uploaded attachments
    'Attachment' => [
      'extensions' => [ 'gif', 'jpg', 'pdf', 'png', 'svg' ],
      'limit' => 64 << 20, // 16 MB,
      'geometries' => [ '100', '200', '300', '400', 'x100', 'x200', 'x300', 'x400', 'full' ],
    ],
  ];

  // logging
  const LOG_FILE = '/var/log/dignitas.log';
  const LOG_LEVEL = LOG_DEBUG;

  // email info
  const CONTACT_EMAIL = 'test@test.com';
  const SMTP_SERVER = 'tls://your-server.com:587'; // for outgoing emails
  const EMAIL_IDENTITIES = [
    'test@test.com' => [
      'name' => 'dignitas',
      'password' => '1234',
    ],
  ];

  // localization
  const LOCALES = [
    'en_US.utf8' => 'English',
    'ro_RO.utf8' => 'română',
  ];
  const SELECT2_LOCALES = [
    'ro_RO.utf8' => 'ro',
  ];
  const DEFAULT_LOCALE = 'ro_RO.utf8';

  // When a file cannot be mapped to a URL in the current locale, use this
  // locale instead. This locale should be fully defined in Router::ROUTES for
  // all files and should match the language in which our PHP files are named.
  const DEFAULT_ROUTING_LOCALE = 'en_US.utf8';

  // system stuff
  const TMP_DIR = '/tmp/';

  // Review votes necessary for removing or keeping a post.
  const REMOVE_VOTES_NECESSARY = 2;
  const KEEP_VOTES_NECESSARY = 2;

  // Reputation below which posts trigger a review with REASON_NEW_USER.
  const NEW_USER_REPUTATION = 100;

  // Answers added at least this many days after their Statement trigger a
  // review with REASON_LATE_ANSWER.
  const LATE_ANSWER_DAYS = 3;

  // Loyalty settings. Define a set of adjacent intervals going back in time
  // and give points for every day in each interval. Then loyalty is the sum
  // of scores computed for each party that the person belonged to, normalized
  // to 1.0.
  //
  // In the sample definition,
  //
  // * the most recent three months are worth 1 point per day
  // * the previous three months are worth 0.5 points per day
  // * the previous six months are worth 0.25 points per day
  // * the previous year is worth 0.1 points per day
  // * the previous year is worth 0.05 points per day
  const LOYALTY_INTERVALS = [
    [ 91, 1.0 ], [ 182, 0.5 ], [ 365, 0.25 ], [ 730, 0.1 ], [ 1095, 0.05 ],
  ];
}
