.serif-text {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
}

.f-container {
  display: flex;
  flex-wrap: wrap;
  width: 94%;
  max-width: 1440px;
  margin: 0 auto;
}

.meta-heading {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  min-width: 190px;
  padding-left: 0;
}

.meta-line {
  border: 1px solid #0d0e0e;
  height: 2px;
  margin-bottom: 4px;
}

.hero {
  /* cancel the padding on the parent .container-fluid */
  margin: 0 calc(-1 * var(--bs-gutter-x, .75rem));
}
