.serif-text {
  font-family: Georgia, 'Times New Roman', serif;
}

.f-container {
  display: flex;
  flex-wrap: wrap;
  width: 94%;
  max-width: 1440px;
  margin: 2rem auto;
}

.meta-heading {
  font-size: 1rem;
}

.meta-line {
  display: inline-block;
  width: 100%;
  height: 2px;
  margin-bottom: 4px;
  border: 1px solid #0d0e0e;
}

.white {
  border-color: #fff;
}

.bubble {
  position: relative;
  min-height: 120px;
  padding: 0px;
  background: #FFFFFF;
  border-radius: 10px;
  border: #ccc solid 2px;
  display: flex;
  align-items: center;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 45px;
}

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 16px 16px 16px 0;
  border-color: transparent #ccc;
  display: block;
  width: 0;
  z-index: 0;
  left: -18px;
  top: 44px;
}

.bubble-title {
  font-size: 0.9rem;
  font-style: italic;
}

.bubble-author {
}

.bubble a {
  color: black;
  text-decoration: none;
}

.carousel-indicators li {
  background-color: #aaa;
}

.carousel-item {
  min-height: 14rem;
}
