.serif-text {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
}

.f-container {
  display: flex;
  flex-wrap: wrap;
  width: 94%;
  max-width: 1440px;
  margin: 0 auto;
}

.meta-heading {
  font-size: 1rem;
  display: inline-block;
  min-width: 190px;
}

.meta-line {
  display: inline-block;
  width: 100%;
  height: 2px;
  margin-bottom: 4px;
  border: 1px solid #0d0e0e;
}

.white {
  border-color: #fff;
}

.statement-link a {
  color: #555;
  font-size: 0.9rem;
  font-style: italic;
}

.dark-background {
  background-color: #232429;
  margin-left: -15px;
  margin-right: -15px;
}

.ivory.meta-heading {
  color: #F3E6D7;
}

.ivory.meta-line {
  border: 1px solid #F3E6D7;
}

/* ##################### select2 tweaks ###################### */
.home-filters .select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
  color: inherit;
}

.home-filters,
.select2-results__option {
  font-size: 14px !important;
}

.home-filters .form-control-sm {
  height: inherit;
  padding: 8px;
}

.home-filters .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
  padding-left: 8px;
}

.more-filters input {
  padding-top: 6px;
  padding-bottom: 6px;
  height: inherit;
}

.select2-container--bootstrap4 .select2-selection__clear {
  line-height: 1.4em;
  border-radius: 4px;
}
