Order Deny,Allow
Allow from all

Options -MultiViews

RewriteEngine on

# Special case for index.php
RewriteRule ^$ index.php [L]

# Pass everything else through the router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ router.php [L]
