/******************** side sheet for answer resources ********************/

@media (min-width: 1681px) {
  /* wide screens -- there must be enough empty space to fit the side sheet */
  #answer-resources {
    --width: 336px;

    height: 100%;
    padding-top: 58px; /* keep in sync with navbar height */
    position: fixed;
    right: calc(0px - var(--width));
    top: 0;
    transition: right 0.4s ease;
    width: var(--width);
  }

  #answer-resources.maximized {
    right: 0;
  }

  #answer-resources.minimized {
    --border-width: 6px;
    right: calc(var(--border-width) - var(--width)); /* keep the border visible */
  }

  #answer-resources.minimized .card {
    border-left: var(--border-width) solid #aaa;
  }

  #answer-resources-maximize {
    --bulb-width: 30px;

    background: #aaa;
    border-bottom-left-radius: calc(var(--bulb-width) / 2);
    border-top-left-radius: calc(var(--bulb-width) / 2);
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 150%;
    left: calc(0px - var(--bulb-width));
    position: absolute;
    top: 50%;
  }

}

@media (max-width: 1680px) {
  #answer-resources {
    bottom: 0;
    left: 0;
    max-height: 0;
    position: fixed;
    transition: max-height 0.4s ease;
    width: 100%;
  }

  #answer-resources.maximized {
    max-height: 50%;
  }

  #answer-resources.minimized {
    --border-width: 6px;
    border-top: var(--border-width) solid #aaa;
    max-height: var(--border-width);
  }

  #answer-resources-maximize {
    --bulb-height: 30px;

    background: #aaa;
    border-top-left-radius: calc(var(--bulb-height) / 2);
    border-top-right-radius: calc(var(--bulb-height) / 2);
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 150%;
    left: 50%;
    position: absolute;
    top: calc(0px - var(--bulb-height));
    transform: translateX(-50%); /* works in conjunction with left to really center it */
  }

}

#answer-resources.minimized #answer-resources-maximize {
  display: block;
}

#answer-resources > .card {
  height: 100%;
}

#answer-resources .card-body {
  font-size: 12px;
}

#answer-resources .area-title {
  color: #656565;
  display: block;
  text-decoration: none;
}

#answer-resources .card-text {
  border-bottom: 1px solid rgba(0,0,0,0.125);
}
