/******************** side sheet for answer resources ********************/

#answer-resources {
  --width: 336px;
  --border-width: 6px;

  height: 100%;
  padding-top: 58px; /* keep in sync with navbar height */
  position: fixed;
  right: calc(0px - var(--width));
  top: 0;
  transition: right 0.4s ease;
  width: var(--width);
}

#answer-resources.maximized {
  right: 0;
}

#answer-resources.minimized {
  right: calc(var(--border-width) - var(--width)); /* keep the border visible */
}

#answer-resources.minimized .card {
  border-left: var(--border-width) solid #aaa;
}

#answer-resources.minimized #answer-resources-maximize {
  display: block;
}

#answer-resources-maximize {
  --bulb-width: 30px;

  background: #aaa;
  border-bottom-left-radius: calc(var(--bulb-width) / 2);
  border-top-left-radius: calc(var(--bulb-width) / 2);
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 150%;
  left: calc(0px - var(--bulb-width));
  position: absolute;
  top: 50%;
}

#answer-resources > .card {
  height: 100%;
}
