<?php

class Config {
  /* database connection */
  const DB_HOST = 'localhost';
  const DB_DATABASE = 'tbd';
  const DB_USER = 'root';
  const DB_PASSWORD = '';

  /* logging */
  const LOG_FILE = '/var/log/tbd.log';
  const LOG_LEVEL = LOG_DEBUG;

  /* localization */
  const LOCALES = [
    'en_US.utf8' => "English",
    'ro_RO.utf8' => "română",
  ];
  const DEFAULT_LOCALE = 'ro_RO.utf8';

  /* system stuff */
  const TMP_DIR = '/tmp/';
}
