.relTable .dateFieldContainer input {
  width: 100px !important;
}

.relTable input, .relTable select {
  width: auto !important;
}

.colEntityId {
  min-width: 200px;
}

.custom-file-input ~ .custom-file-label::after {
  font-family: 'icons';
  /* hack: this hardcodes the glyph for icon-folder-open */
  content: '\e809';
}
