.colDatePicker, .colOrder, .colActions {
  white-space: nowrap;
  width: 1%;
}

.colTarget {
  width: 400px;
}

.icon-move {
  cursor: pointer;
}

.custom-file-input ~ .custom-file-label::after {
  font-family: 'icons';
  /* hack: this hardcodes the glyph for icon-folder-open */
  content: '\e809';
}
