/**
 * If you modify this file, remember to recompile the CSS file by running
 * scripts/recompileCss.sh
 **/

/* our variables, not Bootstrap's */
$butter: #f3e6d7;

/* Bootstrap overrides */
$dark: #232429;
$body-color: #495057;
$font-family-sans-serif: Spartan, Helvetica, Calibri, Arial, sans-serif;

$link-decoration: none;

$dropdown-dark-color: $butter;
$dropdown-dark-divider-bg: $butter;
$dropdown-dark-link-color: $butter;

$pagination-active-bg: #6c757d;
$pagination-active-border-color: #6c757d;

$popover-bg: #ccc;

$tooltip-arrow-height: .6rem;
$tooltip-arrow-width: 1.2rem;
$tooltip-bg: #ccc;
$tooltip-color: black;
$tooltip-max-width: 300px;
$tooltip-opacity: 1.0;
$tooltip-padding-x: 0.75rem;
$tooltip-padding-y: 0.75rem;

$navbar-dark-color: $butter;   /* only used by the togglers */
$navbar-dark-toggler-border-color: $butter;
$navbar-padding-y: 0.125rem;

$input-btn-padding-y: 0.5rem;
$btn-border-radius-sm: 0.25rem;
$btn-white-space: nowrap;

@import "third-party/bootstrap/functions";
@import "third-party/bootstrap/variables";

/**
 * These are usable
 *   - in some class names like btn-carbon;
 *   - in CSS variables like color: var(--bs-carbon) !important.
 **/
$custom-colors: (
  "butter": $butter,
  "carbon": #343a40,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

/**
 * These are necessary as of BS 5.1 in order to generate certain CSS classes
 * like text-carbon. See:
 * https://stackoverflow.com/a/68762902/6022817
 * https://blog.getbootstrap.com/2021/08/04/bootstrap-5-1-0/#updated-bg--and-text--utilities
 */
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

@import "third-party/bootstrap/bootstrap";
