/**
 * Entry point for the Bootstrap light theme.
 *
 * If you modify this file, remember to recompile the CSS file by running
 * scripts/recompileCss.sh
 **/

/* our variables, not Bootstrap's */
$butter: #f3e6d7;
$surface: #f8f9fa;

/* Bootstrap overrides */
$body-color: #495057;

$pagination-active-bg: #6c757d; /* secondary */
$pagination-active-border-color: #6c757d; /* secondary */

$toast-background-color: #343a40;
$toast-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
$toast-color: #f8f9fa; /* light */

$navbar-dark-color: $butter;   /* only used by the togglers */
$navbar-dark-toggler-border-color: $butter;

html.light {
  --c-draft-indicator-bg: #ffc107; /* Bootstrap warning color */
  --c-draft-indicator-color: #232429;
  --c-hero-bg: #232429;
  --c-navbar-bg: #232429;
  --c-navbar-collapse-bg: var(--bs-gray-800); /* for the slide menus */
  --c-notice: black;
  --c-notice-bg: #e0d9d1;
  --c-recent-statements: var(--bs-body-color);
  --c-search-btn: var(--bs-gray-800);
  --c-surface: #{$surface};

  /* tag backgrounds */
  --c-tag-bg-1: #e01e00;
  --c-tag-bg-2: #ff9800;
  --c-tag-bg-3: #ffc107;
  --c-tag-bg-4: #006615;
  --c-tag-bg-5: #006cd1;
  --c-tag-bg-6: #ab0065;
  --c-tag-bg-7: #555555;

  --c-tag-bg-8: #ffc7b8;
  --c-tag-bg-9: #ffe0b2;
  --c-tag-bg-10: #ffecb3;
  --c-tag-bg-11: #c5e9c9;
  --c-tag-bg-12: #b3ecf0;
  --c-tag-bg-13: #f5bad6;
  --c-tag-bg-14: #e2e3e5;

  /* tag colors */
  --c-tag-1: #fff;
  --c-tag-2: #000;
  --c-tag-3: #000;
  --c-tag-4: #fff;
  --c-tag-5: #fff;
  --c-tag-6: #fff;
  --c-tag-7: #fff;

  --c-tag-8: #000;
  --c-tag-9: #000;
  --c-tag-10: #000;
  --c-tag-11: #000;
  --c-tag-12: #000;
  --c-tag-13: #000;
  --c-tag-14: #000;

  /* verdict colors */
  --v-none: #eee;
  --v-undecidable: #aaa;
  --v-red: #d90404;
  --v-orange: #ec771f; /* midpoint between red and yellow */
  --v-yellow: #ffeb3b;
  --v-olive: #9bad22;  /* midpoint between yellow and green */
  --v-green: #37700a;
}

@import "common.scss";
