/**
 * Entry point for the Bootstrap light theme.
 *
 * If you modify this file, remember to recompile the CSS file by running
 * scripts/recompileCss.sh
 **/

/* our variables, not Bootstrap's */
$butter: #f3e6d7;

/* Bootstrap overrides */
$body-color: #495057;

$pagination-active-bg: #6c757d; /* secondary */
$pagination-active-border-color: #6c757d; /* secondary */

$popover-bg: #ccc;
$tooltip-bg: #ccc;
$tooltip-color: black;

$toast-background-color: #343a40;
$toast-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
$toast-color: #f8f9fa; /* light */

$navbar-dark-color: $butter;   /* only used by the togglers */
$navbar-dark-toggler-border-color: $butter;

html.light {
  --c-hero-bg: #232429;
  --c-navbar-bg: #232429;
}

@import "common.scss";
