/**
 * Entry point for the Bootstrap light theme.
 *
 * If you modify this file, remember to recompile the CSS file by running
 * scripts/recompileCss.sh
 **/

/* our variables, not Bootstrap's */
$butter: #f3e6d7;
$surface: #f8f9fa;

/* Bootstrap overrides */
$body-color: #495057;

$pagination-active-bg: #6c757d; /* secondary */
$pagination-active-border-color: #6c757d; /* secondary */

$toast-background-color: #343a40;
$toast-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
$toast-color: #f8f9fa; /* light */

$navbar-dark-color: $butter;   /* only used by the togglers */
$navbar-dark-toggler-border-color: $butter;

html.light {
  --c-draft-indicator-bg: #ffc107; /* Bootstrap warning color */
  --c-draft-indicator-color: #232429;
  --c-hero-bg: #232429;
  --c-navbar-bg: #232429;
  --c-navbar-collapse-bg: var(--bs-gray-800); /* for the slide menus */
  --c-notice: black;
  --c-notice-bg: #e0d9d1;
  --c-recent-statements: var(--bs-body-color);
  --c-search-btn: var(--bs-gray-800);
  --c-surface: #{$surface};

  /* tag backgrounds
     colours used are from Google Material Palette https://material.io/resources/color/#!/?view.left=0&view.right=0 , saturation level 500 */
  --c-tag-bg-1: #f44336; /* red */
  --c-tag-bg-2: #e91e63; /* pink */
  --c-tag-bg-3: #9c27b0; /* purple */
  --c-tag-bg-4: #3f51b5; /* indigo */
  --c-tag-bg-5: #2196f3; /* blue */
  --c-tag-bg-6: #009688; /* teal */
  --c-tag-bg-7: #4caf50; /* green */

  --c-tag-bg-8: #ffeb3b; /* yellow */
  --c-tag-bg-9: #ff9800; /* orange */
  --c-tag-bg-10: #ff5722; /* deep orange */
  --c-tag-bg-11: #795548; /* brown */
  --c-tag-bg-12: #9e9e9e; /* grey, 500 */
  --c-tag-bg-13: #757575; /* grey, 600 */
  --c-tag-bg-14: #607d8b; /* blue grey */

  /* tag text colors, they pass WCAG AA contrast ratio with background tag colours, for Normal text */
  --c-tag-1: #000;
  --c-tag-2: #000;
  --c-tag-3: #fff;
  --c-tag-4: #fff;
  --c-tag-5: #000;
  --c-tag-6: #000;
  --c-tag-7: #000;

  --c-tag-8: #000;
  --c-tag-9: #000;
  --c-tag-10: #000;
  --c-tag-11: #fff;
  --c-tag-12: #000;
  --c-tag-13: #fff;
  --c-tag-14: #000;

  /* verdict colors */
  --v-none: #eee;
  --v-undecidable: #aaa;
  --v-red: #d90404;
  --v-orange: #ec771f; /* midpoint between red and yellow */
  --v-yellow: #ffeb3b;
  --v-olive: #9bad22;  /* midpoint between yellow and green */
  --v-green: #37700a;
}

@import "common.scss";
