/**
 * If you modify this file, remember to recompile the CSS file by running
 * scripts/recompileCss.sh
 **/

/* our variables, not Bootstrap's */
$navbar-link-color: #f3e6d7;

/* Bootstrap overrides */
$body-color: #495057;
$font-family-sans-serif: Spartan, Helvetica, Calibri, Arial, sans-serif;

$tooltip-arrow-height: .6rem;
$tooltip-arrow-width: 1.2rem;
$tooltip-bg: #ccc;
$tooltip-color: black;
$tooltip-max-width: 300px;
$tooltip-opacity: 1.0;
$tooltip-padding-x: 0.75rem;
$tooltip-padding-y: 0.75rem;

/**
 * These are usable
 *   - in class names like btn-darkish;
 *   - in CSS variables like color: var(--darkish) !important;
 **/
$theme-colors: (
  "dark": #232429,
  "darkish": #343a40, /* usable in custom class names like btn-darkish */
  "navbar-link": $navbar-link-color,
  "navbar-link-hover": #c4b9ac,
);

$navbar-dark-color: $navbar-link-color;   /* only used by the togglers */
$navbar-dark-toggler-border-color: $navbar-link-color;
$navbar-padding-y: 0rem;
$navbar-padding-x: 1rem;

$input-btn-padding-y: 0.5rem;
$btn-border-radius-sm: 0.25rem;

@import "third-party/bootstrap/bootstrap";
