/******************** side sheet for answer resources ********************/

@media (min-width: 1681px) {
  /* wide screens -- there must be enough empty space to fit the side sheet */

  #answer-resources {
    left: inherit;
    padding-right: 0 !important;
		right: -336px;
		transition: opacity 0.3s linear, right 0.3s ease-out;
    width: 336px;
  }

  #answer-resources.show {
		right: 0;
	}

  #answer-resources .modal-dialog {
    margin: 0;
    min-height: 100%;
    transition-duration: 0s; /* prevent default transition */
    transform: none;         /* prevent upshift when faded */
  }

  #answer-resources .modal-dialog-scrollable,
  #answer-resources .modal-dialog-scrollable .modal-content {
    max-height: 100%;
  }

  /* Some rules to keep the rest of the page reachable. Unfortunately, these
   also apply to the flagging modal. */
  .modal-open {
    overflow-y: auto; /* Keep the main page scroll bar visible */
    padding-right: 0px !important;
  }

  .modal-backdrop {
    display: none;
  }
}

button.answer-resources-link {
  display: inline-block !important;
}

#answer-resources .modal-header {
  border: 0;
}

#answer-resources .card-header {
  background-color: #fff;
}

#answer-resources .card {
  font-size: 12px;
}

#answer-resources .card-collapse-icon {
  border-radius: 0px;
  border-width: 1px 0 0 0;
}
