/******************************** globals ********************************/

:root {
  /* verdict colors */
  --v-none: #eee;
  --v-undecidable: #aaa;
  --v-red: #d90404;
  --v-orange: #ec771f;
  --v-yellow: #ffeb3b;
  --v-olive: #9bad22;
  --v-green: #37700a;
}

/****************************** light mode ******************************/

html.light {
  /* these are replaced by their complements in dark mode */
  --c-000: #000;
  --c-111: #111;
  --c-222: #222;
  --c-333: #333;
  --c-444: #444;
  --c-555: #555;
  --c-666: #666;
  --c-777: #777;
  --c-888: #888;
  --c-999: #999;
  --c-aaa: #aaa;
  --c-bbb: #bbb;
  --c-ccc: #ccc;
  --c-ddd: #ddd;
  --c-eee: #eee;
  --c-fff: #fff;
}

html.light .light-mode-toggle {
  display: none;
}

/******************************* dark mode *******************************/

/**
 * General rules:
 *
 * 1. We only override components that we actually use. If something looks
 *    wrong, see what Bootstrap has and override it here.
 *
 * 2. We generaly replace gray shades with their complements. For predefined
 *    gray shades:
 *
 *    #000 with #fff
 *    #212529 / --bs-gray-900 with --bs-gray-100
 *    #343a40 / --bs-gray-800 with --bs-gray-200
 *    #495057 / --bs-gray-700 with --bs-gray-300 (except for --bs-body-color)
 *    #6c757d / --bs-gray-600 with --bs-gray-400
 *    #adb5bd / --bs-gray-500 with --bs-gray-500 (identical value, but helps with clarity)
 *    #ced4da / --bs-gray-400 with --bs-gray-600
 *    #dee2e6 / --bs-gray-300 with --bs-gray-700
 *    #e9ecef / --bs-gray-200 with --bs-gray-800
 *    #fff with --bs-gray-900
 *
 *    For other gray (and grayish) shades, subtract each component from 0xFF.
 *    For example, replace #1e2125 with #e1deda. Similarly, replace rgba(0, 0, 0, X)
 *    with rgba(255, 255, 255, X).
 *
 */
html.dark {
  /**
   * Complements are not defined relative to 0xFF. Instead, we split the
   * interval #212529-#ffffff into 16 shades.
   **/
  --c-000: #fff;
  --c-111: #f0f0f1;
  --c-222: #e1e2e3;
  --c-333: #d3d3d4;
  --c-444: #c4c5c6;
  --c-555: #b5b6b8;
  --c-666: #a6a8aa;
  --c-777: #97999b;
  --c-888: #898b8d;
  --c-999: #7a7c7e;
  --c-aaa: #6b6e70;
  --c-bbb: #5c5f62;
  --c-ccc: #4d5154;
  --c-ddd: #3f4245;
  --c-eee: #303437;
  --c-fff: #212529;
}

html.dark .dark-mode-toggle {
  display: none;
}
