/* Kudos https://google-webfonts-helper.herokuapp.com/fonts */

/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../../fonts/open-sans-v17-latin-ext_latin-regular.woff2') format('woff2'),
       url('../../fonts/open-sans-v17-latin-ext_latin-regular.woff') format('woff');
}

/* open-sans-italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../../fonts/open-sans-v17-latin-ext_latin-italic.woff2') format('woff2'),
       url('../../fonts/open-sans-v17-latin-ext_latin-italic.woff') format('woff');
}

/* open-sans-700 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../../fonts/open-sans-v17-latin-ext_latin-700.woff2') format('woff2'),
       url('../../fonts/open-sans-v17-latin-ext_latin-700.woff') format('woff');
}

/* playfair-display-regular - latin-ext_latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../../fonts/playfair-display-v20-latin-ext_latin-regular.woff2') format('woff2'),
       url('../../fonts/playfair-display-v20-latin-ext_latin-regular.woff') format('woff');
}

/* playfair-display-500 - latin-ext_latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../../fonts/playfair-display-v20-latin-ext_latin-500.woff2') format('woff2'),
       url('../../fonts/playfair-display-v20-latin-ext_latin-500.woff') format('woff');
}

/* playfair-display-700 - latin-ext_latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../../fonts/playfair-display-v20-latin-ext_latin-700.woff2') format('woff2'),
       url('../../fonts/playfair-display-v20-latin-ext_latin-700.woff') format('woff');
}

/* spartan-regular - latin-ext_latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../../fonts/spartan-v1-latin-ext_latin-regular.woff2') format('woff2'),
       url('../../fonts/spartan-v1-latin-ext_latin-regular.woff') format('woff');
}

/* spartan-500 - latin-ext_latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../../fonts/spartan-v1-latin-ext_latin-500.woff2') format('woff2'),
       url('../../fonts/spartan-v1-latin-ext_latin-500.woff') format('woff');
}
