@media (max-width: 768px){
  .highlight-sm {
    background-color: #ccc;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }

  .row-border {
    border-top: 0;
  }
}

.history {
  font-size: 1.75rem;
  line-height: 2.3rem;
}

div.card-diff {
  margin-top: 0.5em;
}

button.identical-toggle {
  width: 100%;
}

pre.identical-block {
  display: none;
}

pre.diff {
  color: gray;
  margin-top: 1em;
  white-space: pre-wrap;
}

.diff-op1 {
  background-color: #c8ffc8;
  color: black;
}

.diff-op2 {
  background-color: #ffc8c8;
  color: black;
}
