.history {
  font-size: 1.75rem;
  line-height: 2.3rem;
}

div.card-diff {
  margin-top: 0.5em;
}

button.identical-toggle {
  width: 100%;
}

pre.identical-block {
  display: none;
}

pre.diff {
  color: var(--c-777);
  margin-top: 1em;
  white-space: pre-wrap;
}

.diff-op1 {
  background-color: #c8ffc8;
  color: black;
  padding: 2px 3px;
}

.diff-op2 {
  background-color: #ffc8c8;
  color: black;
  margin-right: 2px;
  padding: 2px 3px;
}
