body.waiting * {
  cursor: progress;
}

h3::first-letter {
  text-transform: capitalize;
}

img.pic {
  outline: 1px solid #ddd;
}

.navbar-nav a:hover {
  background: #ccc; /* slightly more visible */
}

.navbar-nav {
  white-space: nowrap;
}

.dateFieldContainer {
  display: inline-block;
  white-space: nowrap;
}

.dateFieldContainer .form-control {
  display: inline;
}

/*************************** navbar search box ***************************/

.navbar .select2 {
  background-color: #fff;
}

/* Firefox and Chrome insert a <div> in place of the <noscript> element, which
   breaks Bootstrap's CSS because it uses the > selector. */
#searchFieldContainer div {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
}

.aliasListAjax {
  display: inline;
}

.aliasListAjax li:not(:first-child):before {
  content: "•";
  padding-right: 8px;
}

/******************************** footer ********************************/

footer {
  border-top: 1px solid #ddd;
  margin-top: 15px;
  padding-top: 5px;
}

#footerLinks li {
  padding-left: 0;
}

#footerLinks li:not(:first-child):before {
  content: '•';
  padding-right: 8px;
  color: #999;
}

.voteButton.voted {
  background: orange;
}

/********************************* tags *********************************/

.tag {
  font-size: 120%;
}

.tagTooltip {
  cursor: help;
}

/**************************** loyalty widget ****************************/

.loyaltyWidget {
  border-radius: 5px;
  height: 20px;
  margin: 5px 0;
  overflow: hidden;
  width: 300px;
}

.loyaltyWidget div {
  display: inline-block;
  height: 20px;
}
