body {
  overflow-x: hidden; /* hide the sliding menus */
}

body.waiting * {
  cursor: progress;
}

h3::first-letter {
  text-transform: capitalize;
}

.navbar-nav a:hover {
  background: #ccc; /* slightly more visible */
}

.navbar-nav {
  white-space: nowrap;
}

img.pic {
  outline: 1px solid #ddd;
}

.dateFieldContainer {
  display: inline-block;
  white-space: nowrap;
}

.dateFieldContainer .form-control {
  display: inline;
}

.userLink {
  font-weight: bold;
}

blockquote {
  border-left: 3px solid #777;
  color: #777;
  margin: 1em 2em;
  padding-left: 1em;
}

.list-inline-bullet li:not(:first-child):before {
  content: '•';
  opacity: 0.5; /* don't force a color, use opacity instead */
  padding-right: 8px;
}

/******************************** navbar *********************************/

.navbar-nav {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .navbar-collapse {
    padding: 0 15px 15px;
    position: absolute;
    top: 100%;
    transition: left 0.3s linear;
    width: 50%;
    z-index: 10;
  }

  .navbar-collapse.to-left {
    left: -50%;
  }

  .navbar-collapse.to-right {
    left: 100%;
  }

  .navbar-collapse.to-left.shown {
    left: 0;
    transition: left 0.3s linear;
  }

  .navbar-collapse.to-right.shown {
    left: 50%;
    transition: left 0.3s linear;
  }
}

/*************************** navbar search box ***************************/

.navbar .select2 {
  background-color: #fff;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.navbar .select2-container--bootstrap4 .select2-selection {
  border-width: 0;
}

/* Firefox and Chrome insert a <div> in place of the <noscript> element, which
   breaks Bootstrap's CSS because it uses the > selector. */
#searchFieldContainer div {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
}

/***************************** vote sidebar *****************************/

.voteContainer {
  align-items: flex-start;
  display: flex;
}

.voteContainer.highlighted {
  animation-name: answer-highlight-animation;
  animation-duration: 2s;
}

@keyframes answer-highlight-animation {
  from { background-color: #777; }
  to { background-color: white; }
}

.voteLeft {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}

.comment > .voteLeft {
  flex-basis: 10px;
  margin-right: 5px;
}

.comment > .voteLeft .btn-vote {
  font-size: 10px;
}

.voteMain {
  flex-grow: 100; /* occupy all available width */
}

.voteLeft button {
  color: #777;
  display: block;
  font-size: 30px;
  margin: 0px auto;
  padding: 0;
}

.voteLeft button:focus {
  box-shadow: none;
}

.btn-vote.voted {
  color: green;
}

.btn-proof.accepted {
  color: green;
}

/******************************** statement ********************************/
.title-divider {
  border-color: #999;
}

img.pic.person-photo {
  outline: 0;
}

.statement-actions .text-muted,
.statement-actions .btn,
.answerFooter *,
.answer-comment a {
  font-size: 0.75rem;
}

/* keep these values in sync with lib/Ct.php::VERDICT_* constants */
.statement-box.verdict-0 { /* none */
  background: #eee;
}

.statement-box.verdict-1 { /* undecidable */
  background: #aaa;
}

.statement-box.verdict-2 { /* false */
  background: #f5b3b3;
}

.statement-box.verdict-3 { /* mostly false */
  background: #f5d3b3;
}

.statement-box.verdict-4 { /* mixed */
  background: #f5f0b3;
}

.statement-box.verdict-5 { /* mostly true */
  background: #def5b3;
}

.statement-box.verdict-6 { /* true */
  background: #b3f5b7;
}

/******************************** answers ********************************/

.answer {
  padding-top: 10px;
}

.answer-label {
  border-bottom: 1px solid #999;
}

/******************************* comments *******************************/

.comment {
  border-bottom: 1px solid #ccc;
  color: #777;
  font-size: 80%;
  padding: 5px 0px;
}

.comment:first-child {
  border-top: 1px solid #ccc;
}

.comment p {
  display: inline;
}

.commentActions a {
  color: #bbb;
}

.commentActions a:hover {
  color: #777;
  text-decoration: none;
}

/******************************** footer ********************************/

footer {
  border-top: 1px solid #ddd;
  margin-top: 15px;
  padding-top: 5px;
}

/********************************* tags *********************************/

.tagTooltip {
  cursor: help;
}

/**************************** loyalty widget ****************************/

.loyaltyWidget {
  border-radius: 5px;
  height: 20px;
  margin: 5px 0;
  overflow: hidden;
  width: 300px;
}

.loyaltyWidget div {
  display: inline-block;
  height: 20px;
}

/****************************** file inputs ******************************/

.custom-file-label::after {
  font-family: 'icons';
  /* hack: this hardcodes the glyph for icon-folder-open */
  content: '\e809';
}
